@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

*:focus{
    outline: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white; 
    box-shadow: 0 0 0px 1000px #000000 inset;
  }